[2020-11-10 18:02] #909 closed

[2020-11-10 18:13] botzill opened #937 "Filter by M2O relation error"
I try to filter by M2O relation,

[code]
fields are:

[code]

but I get error:
[code]

[2020-11-10 18:16] rijkvanzanten commented on #937
@botzill Try

[code]

[2020-11-10 18:19] #903 closed

[2020-11-10 18:19] rijkvanzanten commented on #903
![CleanShot 2020-11-10 at 13 19 49](https://user-images.githubusercontent.com/9141017/98714877-6ba47900-2357-11eb-87f5-b8f8822e79ac.png)

now works as expected 🙂

[2020-11-10 18:21] rijkvanzanten commented on #911
This seems to be a configuration option in the deployment, as connecting to Redis from another source seems to work as expected

[2020-11-10 18:21] #911 closed

[2020-11-10 18:26] rijkvanzanten commented on #912
@atslab I can't seem to reproduce this on my end. Just created a new table directly in the DB, added 2 varchar columns and the data was returned as expected.

Could you share a DB dump where this is happening? Thanks 👌

[2020-11-10 18:30] #913 closed

[2020-11-10 18:34] botzill commented on #937
Great, that's it!

[2020-11-10 18:34] #937 closed

[2020-11-10 18:52] rijkvanzanten commented on #917
@botzill I can't seem to reproduce this on my end in PG / MySQL. Do you have a DB dump available where this happens consistently?

[2020-11-10 18:54] rijkvanzanten commented on #918
@botzill I think you're confused between the display and the interface. The first screenshot is the setup for the `boolean` display, but your screenshot shows the `toggle` interface with no label

[2020-11-10 18:54] #918 closed

[2020-11-10 18:59] #921 closed

[2020-11-10 19:01] rijkvanzanten commented on #925
I believe this was fixed in https://github.com/directus/next/commit/555f977af790e0a19a6026c3f1ffa94a0cd12d1e. Could you try it again in RC.10+? 🙂

[2020-11-10 19:01] #925 closed

[2020-11-10 19:01] flayks commented on #911
@rijkvanzanten Would you have an example of Docker config? I run into the same issue, can't really connect a Redis instance to Directus.

[2020-11-10 19:09] Fusseldieb opened #938 "Building Directus"
Hello,

I wanted to try the `next` build on my server and couldn't get it to combine api+app (Basically making "the suite").
Am I missing some crucial step? I already dig through the docs and couldn't find anything related.
It's not a simple `npm run build`, as it seems. This command just generates a `dist/` with some .js files, but it still isn't the final built version.

Or am I not supposed to

[2020-11-10 19:09] Fusseldieb opened #939 "Building the Directus Suite"
Hello,

I wanted to try the `next` build on my server and couldn't get it to combine api+app (Basically making "the suite").
Am I missing some crucial step? I already dig through the docs and couldn't find anything related.
It's not a simple `npm run build`, as it seems. This command just generates a `dist/` with some .js files, but it still isn't the final built version.

Or am I not supposed to

[2020-11-10 19:12] benhaynes commented on #938
Duplicate of https://github.com/directus/next/issues/939

[2020-11-10 19:12] #938 closed

[2020-11-10 19:13] #939 closed

[2020-11-10 19:14] rijkvanzanten commented on #927
Could you elaborate what you mean by "Clean and fresh install" ?

I just did a fresh clone of the repo, ran `npm install` and everything went through as expected.

The `req.session` is typed as an `Express.Session`:

![CleanShot 2020-11-10 at 14 07 04](https://user-images.githubusercontent.com/9141017/98719681-0ef88c80-235e-11eb-9935-066404a3fd55.png)

Which itself<sup>(1)</sup> is typed to hold a

[2020-11-10 19:14] #927 closed

[2020-11-10 19:15] Fusseldieb commented on #938
I created #938 and #939 by mistake as it seems, thanks for closing!

I submitted the Issue, GitHub presented me a 404 page, I got back and tried again. Oh well...

[2020-11-10 19:16] rijkvanzanten commented on #911
Not in Docker, but I configured the env vars to:

[code]

which did the trick for me 🤷

[2020-11-10 19:34] danieljwestman commented on #927
Very strange, I can’t get it to work from here... No other packages or types installed...

[2020-11-10 19:40] #917 closed

[2020-11-10 19:43] rijkvanzanten commented on #927
Very strange! The only other explanation I have is that you somehow ended up with a different version of `@types/express` or `@types/express-session`, or maybe a different version of Node is causing issues..?

I'm testing this under Node v14.15.0 with `@types/express@4.17.8` and `@types/express-session@1.17.0`. Could you confirm the versions on your end?

[2020-11-10 20:15] Clex1o1 opened #941 "Migration on existing project fails"
`Error: ER_CANT_CREATE_TABLE: Can't create table `directus`.`directus_fields` (errno: 150 "Foreign key constraint is incorrectly formed")
    at Query.Sequence._packetToError (/Users/alexanderclassen/Projects/talentine-backend/node_modules/mysql/lib/protocol/sequences/Sequence.js:47:14)
    at Query.ErrorPacket (/Users/alexanderclassen/Projects/talentine-backend/node_modules/mysql/lib/protocol/seq

[2020-11-10 20:30] rijkvanzanten commented on #941
Duplicate of https://github.com/directus/next/issues/915

[2020-11-10 20:30] #941 closed

[2020-11-10 21:18] Fusseldieb commented on #677
Can confirm. It's not possible to use the UI yet. Trying to create or edit a collection field gives errors.

[2020-11-10 22:03] benhaynes commented on #677
Just a heads up, we're planning on doing an "alt vendor" (MS-SQL, Oracle, SQLite) sprint this Friday.. so hopefully this gets resolved. We don't typically work on these vendors, so the more debugging info ya'll can provide in advance, the better! Also, I know one wants to hear their preferred database vendor is "alt" 😉

[2020-11-10 22:15] Fusseldieb commented on #677
@benhaynes Thanks for the heads up, very appreciated ☺️

The problem is that (at least on my setup) it's happening with MySQL, it's not even a alt database.

[2020-11-10 22:20] benhaynes commented on #677
Hmm, that's odd... I just created a collection no problem on MySQL. Perhaps you can share more specific versions and a DB dump? (if private, you can DM us on Discord).

[2020-11-10 22:24] Fusseldieb commented on #677
@benhaynes Thanks for the super fast reply!

It's MySQL 8.0.22 x64 Community Server running on Ubuntu 16.04.

[2020-11-10 23:28] botzill commented on #918
Well, I did remove the Interface setup and let only Display:

<img width="618" alt="Screen Shot 2020-11-11 at 01 27 56" src="https://user-images.githubusercontent.com/4686040/98745900-21ee7980-23bd-11eb-93d3-443560a5ff17.png">

But still,
<img width="871" alt="Screen Shot 2020-11-11 at 01 28 50" src="https://user-images.githubusercontent.com/4686040/98745940-3894d080-23bd-11eb-85f4-f577f346986c.pn

[2020-11-11 00:14] botzill opened #944 "In webhook payload now comes an object "schema""
I see object `schema` in the webhook payload with all the data, I that needed there?

[2020-11-11 02:33] #944 closed

[2020-11-11 02:35] benhaynes commented on #918
I think you got this backwards — what you're trying to set up is the interface.

That said, @rijkvanzanten — shouldn't this have `Enabled` next to it by default?

[2020-11-11 08:46] botzill opened #946 "Custom webhook return payload invalid"
I return from custom webhook endpoint on `items.delete.before` and 500 error, but it tells me this:

<img width="579" alt="Screen Shot 2020-11-11 at 10 44 54" src="https://user-images.githubusercontent.com/4686040/98789501-09a54b80-240b-11eb-9b09-e30eb19734bd.png">

What is the proper response and format to show here the proper message ?

[2020-11-11 08:59] botzill opened #947 "Don't redirect to listing page if delete item gives errors"
Currently, if we get an error from the custom webhook about item delete it still redirects us to the listing page, while I think we should stay on the details page?

[2020-11-11 10:40] juancarlosjr97 opened #948 "Dockerise installation failing rc.12"
Steps to reproduce

1. Create `docker-compose.yml`

[code]

2. Create `.env`

[code]

3. run `docker-compose up`

**First issue**

[code]

**Second issue**
The expected result is that create a directus instance using `admin@local.com` and `pass`, but the account is created according to records, but the password is not correct.

4. run `docker-compose down --rmi all -v`

5. Replace `directus/next:v

[2020-11-11 12:41] jojomillennium opened #949 "Error when filtering on revisions"
v9.0.0 - rc12
When querying on revisions and filtering on data, I get an error.

/revisions?filter[collection]=amenities&filter[item]=la_brasserie&filter[data.status]=published&limit=1
Error :
`{
    "errors": [
        {
            "message": "select \"directus_revisions\".\"id\", \"directus_revisions\".\"activity\", \"directus_revisions\".\"collection\", \"directus_revisions\".\"item\", \"direc

[2020-11-11 13:27] benhaynes commented on #947
I assume you mean a blocking (`before`) "event hook", not a webhook... right?

[2020-11-11 13:48] danieljwestman commented on #927
@rijkvanzanten I've downloaded a new clean source code and run npm install in root.

Still:

[code]

[2020-11-11 13:52] #915 closed

[2020-11-11 13:54] rijkvanzanten commented on #949
`data` isn't a relational field, but a regular text blob. You can't search in the "relationship" `data`, as it doesn't exist.

The best next thing is `filter[data][_contains]=published`

[2020-11-11 13:54] #949 closed

[2020-11-11 13:57] rijkvanzanten commented on #927
Would you be able to trace where that InitializedSession comes from? VS Code should point you in the right direction 🤔

[2020-11-11 14:03] danieljwestman commented on #927
Nope, no hits on InitializedSession. It's nowhere on my machine...

[2020-11-11 14:03] #948 closed

[2020-11-11 14:05] danieljwestman commented on #927
![Uploading Skärmavbild 2020-11-11 kl. 15.04.59.png…]()

[2020-11-11 14:05] danieljwestman commented on #927
![Skärmavbild 2020-11-11 kl  15 04 59](https://user-images.githubusercontent.com/20950568/98821076-5569ec00-242f-11eb-9732-96d77de7bda7.png)

[2020-11-11 14:06] rijkvanzanten commented on #927
In VS Code, under `api/controllers/auth.ts` line 242, what is the type for `req.session`?

On my end, it's `Express.Session` 🤔

![CleanShot 2020-11-11 at 09 05 11](https://user-images.githubusercontent.com/9141017/98821141-1fac0f80-23fd-11eb-82fa-c648de92559b.png)

[2020-11-11 14:07] rijkvanzanten commented on #927
Wait a second, your `index.d.ts` for express-session is different from mine 🤯

[2020-11-11 14:07] danieljwestman commented on #927
Okay... why? I copied the repo

[2020-11-11 14:07] rijkvanzanten commented on #927
![CleanShot 2020-11-11 at 09 07 48](https://user-images.githubusercontent.com/9141017/98821302-60a42400-23fd-11eb-981c-523cec6c6d36.png)

[2020-11-11 14:14] rijkvanzanten commented on #927
Looks like you're on a newer version of the `@types/express-session` package then I am 🤔

Your screenshot matches the latest state of the source on https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/express-session/index.d.ts

I think that PR might've been an accidental breaking change under a patch release on `@types/express-session`

[2020-11-11 14:17] danieljwestman commented on #927
Hm, okay... How come I'm on different version? I'm running the same packa.json file... How to fix this for me now?

[2020-11-11 14:19] rijkvanzanten commented on #927
I'll lock the package version to `1.17.0` exactly for the time being

[2020-11-11 14:25] danieljwestman commented on #927
That worked out

[2020-11-11 14:32] rijkvanzanten commented on #927
Ref https://github.com/DefinitelyTyped/DefinitelyTyped/issues/49484

[2020-11-11 14:37] jojomillennium commented on #949
@rijkvanzanten
I tried it out : /revisions?filter[collection]=amenities&filter[item]=la_brasserie&filter[data][_contains]=published

and get the error:
`{
    "errors": [
        {
            "message": "select \"directus_revisions\".\"id\", \"directus_revisions\".\"activity\", \"directus_revisions\".\"collection\", \"directus_revisions\".\"item\", \"directus_revisions\".\"data\", \"directus_revi

[2020-11-11 14:43] rijkvanzanten commented on #949
Same thing, `data` and `delta` are JSON blobs that can't be used like relational fields in the API. Based on the `json ~~ unknown` bit, I'm assuming you're using Postgres?

[2020-11-11 14:49] Fusseldieb opened #950 "Validation in JSON Repeater"
Hi,

I've seen that in almost all fields we have a RegEx validation, but in the Repeater this option lacks.

Would be nice to see that in v9 😊

Greetings!

[2020-11-11 14:52] jojomillennium commented on #949
Yes.
What I'm trying to do (maybe there is another way) is to retrieve only the latest published items.
In other words, if I move an item from a collection from status published to draft, I don't want that item to disappear from my website, I still want it to be visible, but its latest published version while I'm working on the updated content (as draft status), until I published a new version.
If

[2020-11-11 14:57] jojomillennium commented on #949
edit: Just saw your comment on Discord about 318

[2020-11-11 15:07] juancarlosjr97 opened #951 "Time format - Short and long displaying same format"
### Environment

* PostgreSQL 9.6-alpine
* Directus RC.12

### Steps to reproduce:

1. Create a field type `Time` with `Display` format `long`

2. Create a field type `Time` with `Display` format `short`

3. Create values to the collection and both times field will contain seconds as the image below shows

**Screenshot:**

<img width="836" alt="issue_951" src="https://user-images.githubusercontent

[2020-11-11 15:35] #950 closed

[2020-11-11 15:36] rijkvanzanten commented on #949
Yeah lets keep this discussion going on https://github.com/directus/next/discussions/318 :) I'd love to hear your use case and your thoughts on how it should / could work

[2020-11-11 15:57] rijkvanzanten commented on #928
I believe this was fixed in https://github.com/directus/next/pull/926. I'm able to run both `database install` and `database migrate:latest` using a non-`public` search path in my .env in rc12 :slig

[2020-11-11 15:57] #928 closed

[2020-11-11 16:20] lluishi93 opened #952 "Error reading knex dependency on hook using ItemService"
I've a couple of hooks that use the ItemService provided from the context.

What I see is that, using RC-12, this message appears when starting directus:

![image](https://user-images.githubusercontent.com/14786440/98836566-1e510600-2442-11eb-8702-2ffa0bf377cd.png)

Here's how my hooks are set up
![image](https://user-images.githubusercontent.com/14786440/98836629-332d9980-2442-11eb-8853-16dd84af6

[2020-11-11 16:36] rijkvanzanten commented on #952
The services now require you to pass in a schema object for it to operate on. Try:

[code]

[2020-11-11 16:36] #952 closed

[2020-11-11 16:42] #929 closed

[2020-11-11 16:47] lluishi93 commented on #952
Sorry, just tried your solution and I'm getting that `schema` as undefined:

![image](https://user-images.githubusercontent.com/14786440/98839522-e77cef00-2445-11eb-8837-5f3a94649b7b.png)

![image](https://user-images.githubusercontent.com/14786440/98839545-f368b100-2445-11eb-9041-a39b4b83cdce.png)

[2020-11-11 16:49] rijkvanzanten commented on #952
Ohh my bad, that schema is passed in the individual hook, not the register function!

[code]

[2020-11-11 17:04] danieljwestman commented on #928
Okay, I'll give another try 👍🏻

[2020-11-11 17:42] juancarlosjr97 opened #953 "Docker initialisation missing creation of admin users on rc.12"
**Steps to reproduce**

1. Create `docker-compuse.yml`

[code]

2. Create `.env`

[code]

3. Run `docker-compose up`

The expected result is to create the admin account using `admin@local.com` and `pass`, however, Directus is installed without any problem but it does not appear to create the admin user.

4. Run `docker-compose down --rmi all -v` to clean any data created by any previous execution

[2020-11-11 17:47] juancarlosjr97 commented on #953
Additionally, as I am running test with other db, this one I am using the default which is `sqlite`

[2020-11-11 18:04] rijkvanzanten commented on #953
Wouldn't this be caused by that other issue https://github.com/directus/next/issues/948?

[2020-11-11 18:05] rijkvanzanten commented on #953
Duplicate of https://github.com/directus/next/issues/948

[2020-11-11 18:05] #953 closed

[2020-11-11 18:06] juancarlosjr97 commented on #953
@rijkvanzanten could be, but in this case is not failing as far as I can see, just not creating the admin user, but could be...

[2020-11-11 18:12] rijkvanzanten commented on #953
The other issue failed on creating the role, and that logic is the same for creating users, so I'm 99% sure it's the same issue 🙂

[2020-11-11 18:30] botzill commented on #947
yes, a bocking one.

[2020-11-11 18:42] #947 closed

[2020-11-11 18:48] rijkvanzanten commented on #951
@juancarlosjr97 The screenshot shows the _interface_, not the _display_. The interface has a "Include Seconds" option:

![CleanShot 2020-11-11 at 13 43 19](https://user-images.githubusercontent.com/9141017/98851166-dfac5300-2423-11eb-86e4-508ab098c6d9.png)

[2020-11-11 18:48] #951 closed

[2020-11-11 18:52] botzill opened #955 "Error referencing M2M from directus_users"
I created an M2M field to `directus_users` and I get this error when I try to add one:

[code]

[2020-11-11 18:52] juancarlosjr97 commented on #951
@rijkvanzanten Yes, and regardless if I enable `Include Seconds` or not, it continues showing the Seconds either way.

[2020-11-11 18:54] botzill commented on #955
I see that in general, I get this error when I go to the `Users` tab.

[2020-11-11 19:03] juancarlosjr97 commented on #951
Sorry, I just realised you already fix it :)!

[2020-11-11 19:03] rijkvanzanten commented on #895
@flayks I just tried it on a fresh install (rc12) with the following config:

![CleanShot 2020-11-11 at 14 02 18](https://user-images.githubusercontent.com/9141017/98853056-90b3ed00-2426-11eb-842c-4f44459ba0ac.png)

and I'm not seeing your issue.. Could you try updating to the latest version of Directus and check if you're still running into this issue?

[2020-11-11 19:03] #895 closed

[2020-11-11 20:06] #955 closed

[2020-11-11 20:28] Fusseldieb opened #957 "Divider doesn't get translated"
Just noticed that even if I include a translation for the divider, it gets ignored. On other fields it works just fine. This bug is present in both v8.8.1 and v9.0.0-rc10.

![image](https://user-images.githubusercontent.com/4715129/98860675-cebf0a00-2442-11eb-8a57-291922bde052.png)

---

![image](https://user-images.githubusercontent.com/4715129/98860717-dd0d2600-2442-11eb-96c6-026b80424a97.png)

[2020-11-11 20:31] rijkvanzanten commented on #957
That's because that text "Weights" is set in the interface option `Title`, and isn't actually the field name.

There's a feature request to allow users to plugin their own translations that can be used in "other" places like interface options, see https://github.com/directus/next/discussions/337 for more on that 🙂

[2020-11-11 20:31] #957 closed

[2020-11-11 20:34] Fusseldieb commented on #957
A really cool solution to this problem! Anxiously looking forward to this 🚀

[2020-11-11 21:30] botzill opened #958 "Presets are not applied to roles"
I created a specific preset with a custom fields order, but when I connect with those users, having that roles I still see the fields layout default:

<img width="891" alt="Screen Shot 2020-11-11 at 23 26 03" src="https://user-images.githubusercontent.com/4686040/98866398-8836d300-2475-11eb-9392-f1d0db3c0ee2.png">

while in Preset that layout is different:

<img width="670" alt="Screen Shot 2020-1

[2020-11-11 22:25] benhaynes commented on #958
Might be a bug, but can you confirm that the users don't have their own personal presets saved? Those would override the global ones. We're also thinking of adding a "Reset to Default" button in the Layout Options, which would clear your personal preset and revert to the role/global ones configured by the admin.

https://github.com/directus/next/discussions/960

[2020-11-11 22:40] mscbpi commented on #666
@rijkvanzanten  @benhaynes Since you are working on mssql I reopen this one based on this [doc](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/naming-and-tagging#databases) that indicates a preferred prefix sqldb- so this seems valid. Only the db name should be within brackets in the request or not present.

[2020-11-11 23:02] benhaynes opened #961 "Notice when creating new column on O2M setup"
We should add a notice on the Relational Setup pane when creating a new field. It should say if it's going to link to an existing matched field, or create a new one and link to that.

[2020-11-11 23:03] benhaynes opened #962 "Diff'ing unchanged data in revisions"
I assume this is because the "User Updated" value was sent to the API, but since it did not change, it should not be included in the revision's "Updates Made" pane.

![Screen Shot 2020-11-11 at 6 00 42 PM](https://user-images.githubusercontent.com/522079/98874336-0f6d5200-2448-11eb-9e64-e926c84ab322.png)

[2020-11-11 23:04] rijkvanzanten commented on #961
Same goes for m2o / m2m / multiple files

[2020-11-11 23:05] rijkvanzanten commented on #666
@mscbpi That doc just generally outlines how you can tag / name things within an organization. It's not necessarily suggesting you prefix your databases _within_ MSSQL with `sqldb-`.

[2020-11-11 23:07] #859 closed

[2020-11-11 23:14] rijkvanzanten commented on #958
I just tried this in a fresh install, and it seems to work as expected. I'm going with @benhaynes's working theory on this one. Let me know if that's not the case and we can reopen and investigate @botzill 👍

[2020-11-11 23:14] #958 closed

[2020-11-12 07:05] mscbpi commented on #666
@rijkvanzanten if you name your database sqldb-something when creating it on Azure, as recommended, it will be its name  in MSSQL. Tagging is elsewhere in the doc.

[2020-11-12 09:48] botzill opened #964 "Payload for create item is different and does not have some fields"
When I update an item, webhook payload does contain more data. Create item webhook contains less data and looks like:

this is for `items.create.before`

[code]

Not sure why we don't get info like `accountability`, `action`, `payload` ?

[2020-11-12 12:40] MichaelNussbaumerGOWEST opened #965 "Field Validation in Role Permission not working"
I tried to do a custom field validation for a role. But it leads to an console error.

So I would like to have the RegEx Validation from v8 on field level, thats kind of my goal I wanted to achive :)

A few screenshots to make it clearer:

1. My input for field validation
2. The input got auto formated
3. Console error if I enter a wrong title

![Screenshot_40](https://user-images.githubuserconten

[2020-11-12 12:48] lluishi93 commented on #952
Just to add another fix to that code you posted, in case anyone sees it:

[code]
![image](https://user-images.githubusercontent.com/14786440/98942024-ac35fb00-24ed-11eb-8e83-4d02356345ee.png)

[2020-11-12 13:28] botzill commented on #964
OK, is was a misconfiguration from my custom webhook:

I was doing:

[code]

Now I send all the data there:
[code]

[2020-11-12 13:28] #964 closed

[2020-11-12 13:42] benhaynes commented on #964
Anything worth updating in the Docs so other developers find this easier and don't make the same mistake? @rijkvanzanten

[2020-11-12 13:45] botzill commented on #964
The confusion here is that on `items.delete.before` we have 1 argument while on `items.create.before` we have that extra `input`.

[2020-11-12 13:58] Fusseldieb opened #967 "Dropdown - Key shortcut not working"
I've noticed that in Directus v9.0.0-rc12 when I'm currently with a dropdown open, I can't simply press "G" on the keyboard and it jumps to "German" (for example).

In v8.1.1 Directus still used a native browser dropdown, which obviously supported "key shortcuts", but since v9 it has been replaced by a soft-dropdown, which lacks this feature (or is broken).
Also, tab-ing to the dropdown and trying

[2020-11-12 14:31] #967 closed

[2020-11-12 14:40] rijkvanzanten commented on #965
What database is this on? That field validation object being stringified looks suspicious

[2020-11-12 15:11] Kinzi commented on #915
@rijkvanzanten unfortunately I still get the very same error as above with rc13 running `npx directus database migrate:latest`. Shall I open a new issue?

[2020-11-12 15:28] MichaelNussbaumerGOWEST commented on #965
@rijkvanzanten MySQL. You still have my dump. (tt :)

[2020-11-12 15:32] benhaynes commented on #952
Is any of this worth adding to the Docs?

[2020-11-12 15:52] metalmarco commented on #915
I can confirm, instead, that my problem has been fixed (clean installation on MySQL, no migration)

[2020-11-12 15:56] benhaynes opened #969 "Add Validation Pane to Field Setup Flow"
This will use the same JSON permissions interface as in Role, but will be required for all field values. This means we will also need to add a `_regex` operator to the JSON builder. One thing that still needs to be discussed is where relational validation will occur (eg: min/max items, etc).

### The Validation Flow:
1. Ensure user's role permissions and validation passes
2. Ensure field validatio

[2020-11-12 15:57] metalmarco commented on #887
I just tested the issue on version 9.0.0-rc.13 and the problem is still present.
The tests have been performed with an authenticated browser, and all the permissions set to DENY for the Public user.

If I include the access_token Directus behaves correctly:
`http://localhost:8055/assets/3b22bbbd-1574-4dcd-9647-1472f425ac45?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjQyNDZhOTI3LTVhY

[2020-11-12 15:58] rijkvanzanten commented on #965
https://github.com/directus/next/commit/982fa6aded2c855a9963a5240055d48bc5e6e447 Should fix it, but haven't tested / confirmed it yet

[2020-11-12 16:00] rijkvanzanten commented on #915
@Kinzi I think your issue is related, but not the same as the OP. Feel free to open a new issue 👍

[2020-11-12 16:01] rijkvanzanten commented on #969
@benhaynes `_regex` support and relational validation are two very different things from this ticket. Lets open dedicated discussions for those

[2020-11-12 16:03] benhaynes opened #971 "Add _regex to permission builder"
We need support for `_regex` in the permission builder, but this operator will only be allowed for certain use cases.

[2020-11-12 16:03] benhaynes commented on #969
Ref: https://github.com/directus/next/issues/971

[2020-11-12 16:04] benhaynes commented on #969
Ref: https://github.com/directus/next/discussions/959

[2020-11-12 16:57] botzill opened #972 "Allow to display custom length of a field on listing"
Currently, I see this:

<img width="923" alt="Screen Shot 2020-11-12 at 18 56 16" src="https://user-images.githubusercontent.com/4686040/98970646-d94bd300-2518-11eb-9004-f5cad377bd8f.png">

Can we allow to see more from that string?

[2020-11-12 17:05] rijkvanzanten commented on #972
What display is this? How wide is that column? You can resize the columns in the table

[2020-11-12 17:05] #972 closed

[2020-11-12 17:18] benhaynes opened #974 "Half width color interface is broken"
Probably need to line break these to have it fit...

![Screen Shot 2020-11-11 at 11 45 08 AM](https://user-images.githubusercontent.com/522079/98972961-2318c700-24e1-11eb-9b21-8795df02cf04.png)

[2020-11-12 17:47] benhaynes opened #975 "Translation Progress Indicator"
We need a stopgap solution here, as it's too difficult to know what has been started/completed. I am fine with fetching all the relational data and then having the interface calculate based on "fields with a value". Later, we can add a more detailed indicator that shows the percentage of fields that _pass validation_ (a more accurate metric).

Progress can be displayed as numbers (eg: `0/4` or `3/

[2020-11-12 18:17] danieljwestman opened #977 "Configurable path to App"
It would be a great enhancement if we where able to choose our own path to the App. As for now it's hardcoded to `/admin`. In my humble opinion thats not suitable for projects where many users with different kinds of roles has access to the App (not only _admins_). A more suitable path would be `/app` - but even better if it's configurable in the `.env` file!

There are 5 files to modify (which I'

[2020-11-12 18:22] #977 closed

[2020-11-12 18:36] benhaynes opened #978 "Not showing revision history or comments for singletons"
It should.

[2020-11-12 18:40] benhaynes opened #979 "Error when saving as copy"
It warns about unsaved changes

[2020-11-12 20:01] Fusseldieb opened #981 "Can not set field as required"
Using Postgres 13 and Directus v9.0.0-rc13 if I try to create a Decimal field and set it to "Require value", when creating I'm presented with following error:
![image](https://user-images.githubusercontent.com/4715129/98989936-8ff38780-2508-11eb-9b9b-610f551874e2.png)
Translation:

If I unselect "Require value" the field gets created just fine.

EDIT: Just tried it on my own fork locally and there

[2020-11-12 20:05] benhaynes opened #982 "Error opening relational item before save"
After creating a new O2M item, if you click on it you get a "forbidden" error (see below)... this doesn't happen _after_ the item/parent is saved.

[code]

[2020-11-12 20:49] rijkvanzanten commented on #981
Duplicate of https://github.com/directus/next/issues/447

[2020-11-12 20:49] #981 closed

[2020-11-12 20:53] Fusseldieb commented on #981
@rijkvanzanten I saw this issue, but it's not a duplicate. #447 mentions SQLite.

Also, maybe this could eventually be useful: https://stackoverflow.com/a/42150852/3525780

[2020-11-12 21:07] rijkvanzanten commented on #981
@Fusseldieb It mentions SQLite, but the problem occurs in any vendor. If you have a column that contains values that are `NULL`, you can't set the column to `NOT NULL`

[2020-11-12 21:30] Fusseldieb commented on #981
Ahh, I had one of those braindead moments again. I didn't even saw there was a optional DEFAULT field. Maybe make it required when "Require" is activated?

[2020-11-12 21:57] benhaynes opened #983 "Resizing table layout columns resets when dragging too long"
If you click to drag column sizes... if you wait too long (~2s) the columns will reset to 200px each.

[2020-11-12 22:22] benhaynes opened #984 "Sort breaks when all values are the same"
If you add a `sort` column to an existing dataset (already has items) with a default value (eg: `0`), and then set it to Collection Sort... manually reordering doesn't work.

If all the sort values start the same (eg: all are `0`), manual sort just changes them all to `1`.

[2020-11-12 22:30] benhaynes commented on #984
We might want to just add a button on Collection Settings that adds the sort column (same as during collection creation)!

[2020-11-12 22:41] benhaynes opened #985 "Use Drawer for Batch Editing Directus Users"
It uses a page (not good for UUIDs)

[2020-11-12 23:02] benhaynes opened #986 "File's "Open in New Window" Link Not Working"
![Screen Shot 2020-11-12 at 6 01 24 PM](https://user-images.githubusercontent.com/522079/99006841-2461e800-2511-11eb-8645-230efcdf93e3.png)

Throws this error:

[code]

[2020-11-13 05:03] botzill opened #987 "Webhook event: items.update.before gives item=null"
Not sure why, but I get `item=null` for the event `items.update.before`.
All the other data seems ok but this one is `null`.

is this OK?

[2020-11-13 07:00] Kinzi opened #988 "Cannot migrate MYSQL DB"
When I run `npx directus database migrate:latest` with RC13 ( I get this roughly since RC8 though. SO DB wasn't migrated since then)

I get the following:

[code]

[2020-11-13 07:14] MichaelNussbaumerGOWEST commented on #965
@rijkvanzanten I still have the same behaviour.

[2020-11-13 07:45] mscbpi commented on #666
@rijkvanzanten see below
![image](https://user-images.githubusercontent.com/28528210/99041974-316fed00-258c-11eb-8153-1cc9e92d3953.png)
![image](https://user-images.githubusercontent.com/28528210/99042131-84e23b00-258c-11eb-948d-feec3e933bc5.png)

[2020-11-13 08:02] botzill opened #990 "No error are shown in the UI"
Currently, I see no errors in the UI of any kind. I see the in the dev tools error about permission and others, but no error in the UI.

[2020-11-13 09:40] Kinzi commented on #988
<img width="1024" alt="Bildschirmfoto 2020-11-13 um 11 39 58" src="https://user-images.githubusercontent.com/6689405/99057847-004fe680-25a5-11eb-8540-c2addbad091c.png">
This is what the table currently looks like. `directus_fields_group_foreign` exists as an index apperently....

[2020-11-13 12:27] danieljwestman opened #991 "Breaking changes for work around breaking change in @types/express-sesssion..."
Latest commit 137fba838ddb2d15d89a1d137ea750e976ed7180

@types/express-session@1.17.2

Sorry but I think this release of express-session (yesterday) broke the Directus work around...?

<img width="1029" alt="Skärmavbild 2020-11-13 kl  13 20 30" src="https://user-images.githubusercontent.com/20950568/99072218-e4077600-25b3-11eb-9afe-b256f7b0389d.png">

[code]

[2020-11-13 12:47] danieljwestman commented on #991
Yep, forcing dependency `@types/express-session` to `1.17.1` is making it work again.

[2020-11-13 14:31] jekuer opened #993 "status query filter not working"
The simple REST status filter, as it can be used in V8, does not work with V9 (at least with my tests (RC13, PostgreSQL).
The result can be achieved via the filter param, but at least due to backwards compatibility and since this one could be critical to many, I think it should be fixed.

[2020-11-13 14:40] MichaelNussbaumerGOWEST commented on #993
In GraphQL it works for me like that:

[code]

[2020-11-13 14:50] rijkvanzanten commented on #965
@MichaelNussbaumerGOWEST Are you pulling from Git or npm? I haven't done a release since this fix made it to `main`

[2020-11-13 14:51] rijkvanzanten commented on #990
Can you be more specific? What are you trying to do where that failed?

Errors are shown on a case to case basis

[2020-11-13 14:53] rijkvanzanten commented on #988
@Kinzi I think this might've been caused by the fact that the migration ran, but failed due to that other issue we saw the other day. I think the `foreign` key constraint was removed successfully in that previous failed migration, which makes this migration fail because the key can't be found..

[2020-11-13 14:53] rijkvanzanten commented on #991
Are you kidding me :|

[2020-11-13 15:01] rijkvanzanten commented on #993
@jekuer There is no `status` query param. Seeing this is a major version bump (and thus a breaking change), there is no hard requirement for backwards compatibility between v8 and v9.

(the technical reason here is that there is no system "status" field anymore to begin with)

[2020-11-13 15:01] #993 closed

[2020-11-13 15:01] botzill commented on #990
Example would be when we get error that we don't have access to item
create. Plus button may still appear we try to ad an item, we get
permission error but not displaying.

On Fri, Nov 13, 2020, 4:51 PM Rijk van Zanten <notifications@github.com>
wrote:

[2020-11-13 15:01] jekuer commented on #993
Ok, I see. Thanks.

[2020-11-13 15:03] rijkvanzanten commented on #991
This is the second breaking change in `@types/express-session` in a patch version in a single week. Wild..

Lets see what they respond to https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49479#issuecomment-726811331

[2020-11-13 15:11] #991 closed

[2020-11-13 15:17] rijkvanzanten commented on #987
What's the hook that you're trying to use?

I just added this:

[code]

and it logs as expected

[2020-11-13 15:35] #978 closed

[2020-11-13 15:36] botzill commented on #987
I have the following hook:

[code]

Now the payload that I get into the backend has `item=null` which it should be `item=<id>`.

[2020-11-13 15:42] rijkvanzanten commented on #987
Oh, you're talking about the `item` field under the context. I see.

[2020-11-13 15:45] #987 closed

[2020-11-13 15:50] #986 closed

[2020-11-13 16:11] rijkvanzanten commented on #887
Is that file used on the public pages as configured in project settings?

[2020-11-13 16:11] Kinzi commented on #988
@rijkvanzanten this could actually be right. I remember that I had to rerun something lately but can't pinpoint it.

I tried adding the foreign key manually to just get through the migration but failed in the attempt. I'm not a MYSQL coder at all...

[2020-11-13 16:27] rijkvanzanten commented on #988
Feel free to send over a dump on [Discord](https://discord.gg/directus). I can take a look for ya

[2020-11-13 16:28] rijkvanzanten commented on #988
I'll close this for now, as I'm fairly sure the previously failed migration left you in an "in-between" state

[2020-11-13 16:28] #988 closed

[2020-11-13 16:49] metalmarco commented on #887
Hi @rijkvanzanten.
The file is not used in the project settings. It has just been uploaded in the Files Library by the Admin user.

The "Directus Files" permission is all DENY for the Public user, so I guess it should not be possible for an unauthenticated user to access it at http://localhost:8055/assets/3b22bbbd-1574-4dcd-9647-1472f425ac45

[2020-11-13 16:49] rijkvanzanten commented on #887
Can you share a DB dump where this is happening? I can't reproduce it on my end

[2020-11-13 16:54] metalmarco commented on #887
Here it is.
[directus9_2020-11-13.sql.zip](https://github.com/directus/next/files/5538204/directus9_2020-11-13.sql.zip)

[2020-11-13 17:03] #985 closed

[2020-11-13 17:10] #979 closed

[2020-11-13 17:18] #887 closed

[2020-11-13 17:20] rijkvanzanten commented on #974
@Fusseldieb can you reply here so I can assign you? 🙂

[2020-11-13 17:26] #982 closed

[2020-11-13 17:27] Fusseldieb commented on #974
No problem :)

[2020-11-13 17:56] rijkvanzanten commented on #983
If it starts saving while a save is in progress, it appears to send up widths {} instead of the values

[2020-11-13 21:50] adrianhajdin opened #994 "Cannot add an image field to the collection"
Directus 9.0.0-rc.13

Cannot add an image field to the collection (next button is disabled) even though all I've put the values in all the required fields.

[2020-11-13 21:51] adrianhajdin opened #995 "None of the documents showing"
Directus 9.0.0-rc.13

None of the documents are showing, no visible errors though. In the console, I get: "Cannot read property 'field' of undefined"

[2020-11-13 21:51] rijkvanzanten commented on #994
Could you share a screengrab / db dump of where this is happening? I wasn't able to reproduce this..

[2020-11-13 21:53] rijkvanzanten commented on #994
https://cln.sh/3BMrZt

[2020-11-13 21:54] rijkvanzanten commented on #995
By "documents", I assume you're talking about uploaded files in the file library?

[2020-11-13 23:36] adrianhajdin commented on #994
Here's a video: https://streamable.com/f5iw81

[2020-11-13 23:37] adrianhajdin commented on #995
I meant the items of a specific collection, here's a video: https://streamable.com/fh6i37

[2020-11-14 08:08] botzill opened #998 "API filters does not seems to work properly"
I have such filters:

[code]
which works OK. Now, when I add another filter:

[code]

it does return me all the results, which mean it des not apply `"filter[account][id][_eq]": 63`.

I'm doing smth wrong ?

[2020-11-14 12:53] benhaynes commented on #998
Rijk would know for sure, but I don't think this is valid:

[code]

What is this trying to do? It looks like you have two fields...

[2020-11-14 12:53] #998 closed

[2020-11-14 13:47] botzill commented on #998
Well, that's the prob I want to filter by multiple fields in the `account` M2O relation.

I want `status= published` AND `id=63`

[2020-11-14 14:04] benhaynes commented on #998
Ahh, then this should be a "question" within Discussions... not a bug report. 😉

[2020-11-14 14:06] botzill commented on #998
I thought it should work like this. Filtering by multiple filters is not yet implemented ?

[2020-11-14 14:10] benhaynes commented on #998
Hmm, I'm not sure — you might need to use the "AND" or "OR"s... I'll defer to @rijkvanzanten on the exact syntax (if this is supported). In any event, this is a documentation issue... especially since our Docs for v9 aren't really finished/live yet. 😆

[2020-11-14 20:31] metalmarco opened #999 "NULL files and assets error"
Clean installation of 9.0.0-rc.14
It looks like Directus images (like the login page and menu logos) are not loaded, because it's requestiong a NULL asset.

<img width="1362" alt="login page" src="https://user-images.githubusercontent.com/7231582/99156366-a2182600-26c0-11eb-86b3-8a1d81f74720.png">

<img width="1362" alt="menu logo" src="https://user-images.githubusercontent.com/7231582/99156363-a0

[2020-11-14 20:37] flayks commented on #895
Sorry for the delay @rijkvanzanten. Upgraded the Docker instance of Directus to rc9-14, still having the same issue unfortunately.

[code]

[code]

[2020-11-14 23:21] kherock opened #1000 "'@directus/app' package seems to declare build dependencies as regular dependencies"
I noticed that I was getting a peer dependency warning on install for `stylelint-config-prettier`, but to me it looks like all of the dependencies in [`@directus/app/package.json`](https://github.com/directus/next/blob/main/app/package.json) should be listed as dev dependencies. The only files published are the webpack chunks with dependencies bundled in.

[2020-11-16 03:30] rijkvanzanten commented on #895
Are you sure those env vars are passed on to Directus correctly? 🤔 (just thinking aloud here)

[2020-11-16 09:35] lluishi93 opened #1001 "RC-14: Error running install script - cannot read property 'overview' of undefined"
Using the following script:

[code]

I got the following error:

![image](https://user-images.githubusercontent.com/14786440/99236344-5fa53500-27f7-11eb-9287-e78d7976fd14.png)

Edit: The failing command is `npx directus users create --email "${email}" --password "${password}" --role "${role}"`

[2020-11-16 12:31] Fusseldieb commented on #990
I think he meant that when Creating an Item and it fails (for example if a hooh throws an exception) it fails silently. Last time I tried I think I was on rc10 and it just showed "Want to leave this page?" instead of the error.

[2020-11-16 12:55] Fusseldieb commented on #981
@rijkvanzanten Looking back into this, how can I make a field required in the frontend (not the schema), so it doesn't get submitted when empty?

[2020-11-16 14:31] rijkvanzanten commented on #1001
Fixed in https://github.com/directus/next/pull/996

[2020-11-16 14:31] #1001 closed

[2020-11-16 14:37] rijkvanzanten commented on #990
That was resolved already in rc.14

[2020-11-16 14:38] rijkvanzanten commented on #981
By not having a default value?

The problem you mentioned originally was only when you tried making a field required that already had `null` values in it. Creating a new `required` field without a default value is still possible

[2020-11-16 14:39] rijkvanzanten commented on #1000
![](https://media.giphy.com/media/l46Cx2dkVXaoPibtK/giphy.gif)

[2020-11-16 14:40] rijkvanzanten commented on #1000
@kherock

Nah that's false. `stylelint-config-prettier` seems to have slipped through the cracks, but generally speaking all dev dependencies are defined in the root of the monorepo

[2020-11-16 14:41] rijkvanzanten commented on #1000
Very good point, hadn't thought about that 👍

[2020-11-16 14:45] Fusseldieb commented on #981
If I try to (String - Text input), it puts in "NULL" by default. The numeric won't even work without a default value. The idea is that the user fills the field out, and if he doesnt, it wouldn't get saved (in v8 it works fine).

[2020-11-16 14:45] botzill commented on #990
I still have this issue in rc14

On Mon, Nov 16, 2020, 4:37 PM Rijk van Zanten <notifications@github.com>
wrote:

[2020-11-16 14:46] rijkvanzanten commented on #981
That's the string "NULL" though, not actual `null`

[2020-11-16 14:47] Fusseldieb commented on #981
But that's what it put there automatically. I didn't set any DEFAULT

[2020-11-16 15:14] lluishi93 opened #1002 "RC-14: unable to select related collection fields when creating m2m"
1. Create collection a
2. Create collection b
3. Create a m2m field in collection a pointing to collection b
4. Check that the first time you set it up, you're unable to select fields in the inteface step:

![image](https://user-images.githubusercontent.com/14786440/99270214-d73e8880-2826-11eb-9337-71ca3c97b9ef.png)

[2020-11-16 15:21] Fusseldieb commented on #981
But this is still a problem:

![500ise](https://user-images.githubusercontent.com/4715129/99271914-f11ba380-2805-11eb-9fe9-3992f20f9ad3.gif)

I get it that the Require field is based on the database schema, but how would I do a "classical" required field, where no value is set and the user should type something in, else it doesn't get saved?

[2020-11-16 15:28] rijkvanzanten commented on #1002
This is expected, as the junction table that you're about to create doesn't exist.. (yet)

[2020-11-16 15:28] #1002 closed

[2020-11-16 15:30] Fusseldieb commented on #981
Also, even if I give it a DEFAULT value, I get the 500 ISE error...

[2020-11-16 17:29] #1000 closed

[2020-11-16 17:30] rijkvanzanten commented on #999
@metalmarco What DB is this on?

[2020-11-16 17:47] metalmarco commented on #999
MySQL. It doesn't happen on Postgres

[2020-11-16 18:11] rijkvanzanten commented on #999
What version of MySQL?

[2020-11-16 18:26] metalmarco commented on #999
MariaDB 10.4.13

I've just retested it end-to-end and the problems still occurs

[2020-11-16 19:00] rijkvanzanten commented on #999
Ahh I think I remember reading something about MariaDB reporting the default value as `"NULL"` instead of `NULL` (MySQL). Lemme check

[2020-11-16 22:26] lluishi93 commented on #1002
Technically it is expected, but IMHO it is not the best UX. Could showing the fields from that collection be possible, even if the junction table is not created yet? Reading from the directus_fields table maybe?

[2020-11-17 08:40] prasadbandur commented on #333
Dear Directus maintenance team, as mentioned here https://github.com/directus/api/issues/31#issuecomment-384026283 , and I/we too are looking out for any such feature if directus can provide to migrate the schema from one environment to stage/PROD etc. Let us/me know once you release this feature.

[2020-11-17 14:22] rijkvanzanten commented on #333
@prasadbandur Keep an eye on this issue 🙂 Once it's closed, it's merged into main and you can expect it in the first upcoming release 👍

[2020-11-17 14:23] rijkvanzanten opened #1005 "Make body parser option "limit" configurable"
By default, the post size limit of JSON objects is 100kb. We should make this configurable.

From https://github.com/directus/next/discussions/1003

[2020-11-17 16:44] rijkvanzanten commented on #1005
See https://github.com/expressjs/body-parser#limit

[2020-11-17 17:15] MichaelNussbaumerGOWEST commented on #817
@rijkvanzanten it seems the problem came back with rc14

[2020-11-18 15:15] jekuer opened #1009 "Throw error when field length is exceeded"
Reproduce by:

1. Creating a standard field STRING with a size/limit of 10.
2. Add 11 characters to it.
3. Saving the item will lead to an error in the console, but without any feedback at UI level.

[2020-11-18 15:18] jekuer opened #1010 "Throw error when required field not set"
Reproduce by:

1. Creating a standard field and make it required.
2. Create another standard field not required.
3. Try to save a new item with only filling the non-required field.
4. Saving the item will lead to an error in the console, but without any feedback at UI level.

RC14

[2020-11-18 15:23] rijkvanzanten commented on #1009
Happens when:

- Length is exceeded
- Required isn't met

[2020-11-18 15:23] rijkvanzanten commented on #1010
Lets track this as a single "show uncaught errors on items" ticket :)

[2020-11-18 15:23] rijkvanzanten commented on #1010
Closed in favor of #1009

[2020-11-18 15:23] #1010 closed

[2020-11-18 20:19] botzill commented on #990
@rijkvanzanten can you check this again please, as I have this in rc14 as well. Our API returns back 500 error payload with some custom message. How do we connect that into UI to show errors?

[2020-11-18 20:24] Fusseldieb commented on #990
@botzill Rijk is currently aware of this issue (similar to #1010 )

[2020-11-18 20:26] rijkvanzanten commented on #990
Closed in favor of #1009

[2020-11-18 20:26] #990 closed

[2020-11-19 00:57] #888 closed